.about-us{
    width: 1280px;
    height: 532px;
    gap: 40px;
    padding: 0px, 65px, 0px, 65px;
}
@media screen and (min-width:1280px) {
    
}
.about-us-container{
    width: 580px;
height: 532px;
gap: 0px;
border-radius: 50px 0px 0px 0px;
opacity: 0px;
background: rgba(243, 243, 243, 1);

}
.about-us-title{
    font-family: var(--font-family);
font-size: 48px;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.02em;
text-align: left;

}
.about-us-text{
    font-family: var(--font-family);
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
 background: rgba(12, 12, 12, 0.7);

}

.view-catalog-button{
width: 160px;
height: 48px;
top: 404px;
left: 60px;
gap: 0px;
opacity: 0px;
background-color: rgba(51, 80, 233, 1);
font-family: var(--font-family);
font-size: 14px;
font-weight: 500;
line-height: 18px;
text-align: center;
color: rgba(251, 251, 251, 1);
}
.about-us-img{
width: 530px;
height: 532px;
gap: 0px;
border-radius: 50px 0px 0px 0px;
opacity: 0px;
}