.adv-container {
  display: flex;

  flex-wrap: wrap;
  gap: 28px;
  background-color: #0c0c0c;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/img/img_advertisement/adv_img_mobile@1.png);
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 60px 28px;
}

.adv-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--background);
}

.adv-text-item {
  color: rgba(251, 251, 251, 0.5);
}

.adv-btn {
  display: block;

  padding: 15px 37px;
  background-color: rgba(0, 0, 0, 0);

  color: var(--background);
  min-width: 160px;
  height: 48px;
  border-radius: 16px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  transition: background-color 250ms linear;
}

.adv-btn:hover,
.adv-btn:focus {
  background-color: var(--background);
  color: #0c0c0c;
}

@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .adv-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/img/img_advertisement/adv_img_mobile@2.png);
  }
}

/* ======== Tablet ======== */

@media only screen and (min-width: 768px) {
  .adv-container {
    /* flex-direction: column; */

    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/img/img_advertisement/adv_img_tab@1.png);
    padding: 80px 64px;
  }

  .adv-text {
    line-height: 0.92;
    letter-spacing: -0.02em;
    color: var(--background);
    font-size: 48px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279) and (min-resolution: 192dpi) {
  .adv-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/img/img_advertisement/adv_img_tab@2.png);
  }
}

/* ========/ Tablet ======== */

/* ======= Desktop ======= */

@media only screen and (min-width: 1280px) {
  .adv-container {
    padding: 83px 80px;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;

    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/img/img_advertisement/adv_img_desk@1.png);
  }

  .adv-text {
    line-height: 0.92;
    letter-spacing: -0.02em;
    color: var(--background);
    max-width: 690px;
  }

  .adv-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .adv-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/img/img_advertisement/adv_img_desk@2.png);
  }
}

/* =======/ Desktop ======= */
