.contact-us-content {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.contact-us-title {
  margin-bottom: 24px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.contact-us-text {
  /* word-wrap: break-word; */
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}
.contact-us-rectangle {
  display: block;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  background: #f3f3f3;
  padding: 48px 28px;
}

.contact-us-form {
  border-radius: 50px;
}

.contact-us-form .form-input,
.contact-us-form .textarea {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  outline: transparent;
  background: transparent;
}
.contact-us-form .form-input {
  height: 52px;
}
.contact-us-form .form-input:focus {
  border-color: #3350e9;
}

.contact-us-form .form-input::placeholder,
.contact-us-form .textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
}

.contact-us-form .textarea {
  scrollbar-width: none;
  resize: none;
}
.contact-us-form .textarea:focus {
  border-color: #3350e9;
}
.contact-us-form .form-item {
  margin-bottom: 18px;
  display: flex;
  width: 100%;
}
.contact-us-form .form-item:last-of-type {
  margin-bottom: 28px;
}
.overlay-container .container {
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contact-us-img {
  max-width: 100%;
}

.contact-us-form .form-label {
  display: block;
  width: 100%;
}

.contact-us-button {
  border-radius: 16px;
  padding: 12px 50px;
  min-width: 134px;
  height: 42px;
  background-color: #3350e9;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-us-form .send-button:hover {
  background-color: #1f3cd4;
}

@media screen and (min-width: 768px) {
  .contact-us-content {
    flex-direction: column;
  }
  .contact-us-rectangle {
    padding: 50px 122px;
  }
  .contact-us-title {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 0.91667;
  }
  .contact-us-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .contact-us-form {
    border-radius: 50px;
  }
  .contact-us-form .form-input {
    width: 460px;
  }
  .contact-us-form .textarea {
    width: 460px;
  }
  .contact-us-form .send-button {
    border-radius: 16px;
    padding: 17px 63px;
    min-width: 160px;
    height: 52px;
  }
}

@media only screen and (min-width: 1280px) {
  .contact-us-content {
    flex-direction: row;
  }
  .contact-us-rectangle {
    padding: 50px 60px;
    max-width: 580px;
  }
}
